

body
{
	width: 900px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
	font-family: cursive, arial ;
	display:flex ;
	flex-direction: row;
}



/*bloc de gauche a propos de moi*/

#presentation
{
	width: 35%;
	background-color:#006064;
	word-wrap: break-word;
	display: flex;
	flex-direction: column;
}

#presentation figure
{
	text-align: center;
}

#presentation figure img
{
	border-radius: 50%;
	width: 90%;
	margin-top:30px;
}

#presentation h3
{
	text-align: center;
	background-color: #263238;
	font-size: 1.5em;
	font-weight: bold;
	color: #006064;
}

.contact div
{
	padding: 0 20px;
	margin:30px auto;
}

.apropos p
{
	text-align: justify;
	padding: 0 20px;
	margin-top:30px;
	margin-bottom:600px;
}

.loisirs figure
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size:2em;
	color: #263238;	
}

.logos i
{
	border:1px #263238 solid;
	border-radius: 50%;
	width:80px;
	height: 30px;
	padding:10px 10px;
	margin-right: 30px;
}




/*bloc de droite parcours pro*/


/*section formation*/

.articleformations
{
	display: flex;
	flex-direction: row;;
}

.articleformations div
{
	width: 70%;
}

.articleformations li
{
	list-style-type: none;
}

.articleformations ul li:before
{
	content:"\2022";
	color:#006064;
	font-size: 2em;
	margin-right: 10px;
}

.articleformations .Openclassrooms li:before
{
	content:"▹";
	color: #006064;
}

#experiencepro
{
	display: flex;
	flex-direction: column;
	width: 65%;
	padding: 50px 0px;	
	margin:auto;
}

#experiencepro header
{
	margin-bottom: 50px;
	margin-left: 50px;	
}

#experiencepro h1
{
	font-size: 3em;
}

#experiencepro h1 span
{
	color:#006064;
}

#experiencepro h2
{
	color:#263238;
}

#experiencepro h2 span
{
	border-bottom: medium #006064 solid;
}

#experiencepro h3
{
	border-bottom: medium black solid;
	font-weight: bold;
	font-size: 1.3em;
	color: #212121;
	margin-left: 50px;
}

#experiencepro i
{
	color: #006064;
	margin-right: 15px;
	margin-bottom: 10px;
	font-size: 1.5em;
}

#experiencepro a
{
	color:black;
	text-decoration: none;
}

#experiencepro a:hover
{
	color: #006064;
	font-weight: bold;
}

#experiencepro a:visited
{
	color:#006064;
}


/*sections experience*/

.articlexperience
{
	display: flex;
	flex-direction: row;	
}

.articlexperience div
{
	width: 55%;
}

.articlexperience li
{
	list-style-type: none;
}

.articlexperience ul li:before
{
	content: "\2022";
	color:#006064;
	font-size: 2em;
	margin-right: 5px;
}

.articlexperience .Openclassrooms li:before
{
	content: "▹";
	color:#006064;
}



/*section recommandations*/
.articlerecommandations
{
	display: flex;
	flex-direction: row;
	margin-left: 50px;
}

.articlerecommandations div
{
	width: 90%;
}






/*Media Queries*/

@media screen and (max-width: 900px)
{
	body
	{
		width: 100%;
		flex-direction: column;
	}
	#presentation
	{
		width: 100%;
	}
	#presentation figure p img
	{
		width: 50%;
	}
	.apropos p
	{
		margin-bottom:0;
	}
	.contact
	{
		text-align: center;
	}
	.logos i
	{
	border:1px black solid;
	border-radius: 50%;
	width:50px;
	height: 30px;
	padding:10px 10px;
	margin-right: 30px;
	}
	#experiencepro
	{
		width:100%;	
	}
	#experiencepro header
	{
		text-align: center;
	}
}	


@media screen and (max-width: 720px)
{
	
	#experiencepro h3
	{
		text-align: center;
		font-size: 1.1em;
		width: auto;
		margin: auto;
		margin-top: 20px;
	}
}

@media screen and (max-width: 500px)
{
	
	#presentation
	{
		width:100%;
	}
	#presentation figure p img
	{
		width: 70%;
	}
	#experiencepro
	{
		width:100%;	
	}
	
	#experiencepro header h2
	{
		color:black;
		margin-right: 40px;
	}
	#experiencepro header h1
	{
		color:black;
		font-size: 3em;	
		margin-top:60px;
		margin-right: 40px;
	}
	#experiencepro header h1 span
	{
		color:black;
	}
	#experiencepro i
	{
		font-size: 1.1em;
		color:#212121;	
	}
	#experiencepro h3
	{
		border-top: medium black solid; 
		border-left: medium black solid; 
		border-right:medium black solid;
		width: auto; 
		background-color: #006064;
		margin-top: 50px;
		color:#212121;
	}
	.articleformations
	{
		flex-direction: column;
		text-align: center;
	}
	.articleformations div
	{
		margin: auto;
	}
	.articleformations ul
	{
		padding:0;
	}
	.articlexperience
	{
		flex-direction: column;
		text-align: center;	
	}
	.articlexperience div
	{
		margin: auto;
	}
	.articlexperience ul
	{
		padding: 0;	
	}
	.articlerecommandations
	{
		flex-direction: column;
		text-align: center;
		margin:0;
	}
	.articlerecommandations div
	{
		width: auto;
		padding:0;
	}
}

@media screen and (max-width: 320px)
{
	#presentation
	{
		width: 100%;
	}
	#experiencepro
	{
		width:100%;	
	}
	#experiencepro header
	{
		width:auto;
		
	}
	#experiencepro header h1
	{
		font-size: 3em;
		margin-top:10px;
		color:black;
	}
	#experiencepro header h1 span,h2
	{
		color:black;
	}
		
}
	
